{% include '_partials/_header.html' with { title: 'accueil' } %}

<section class="hero">
    <div class="wrapper">
        <div class="video" data-component="Video" data-video-id="rLnBvFZnud4" data-videohide="true">
            <div class="video__media js-video">
                <img class="js-poster" src="./assets/images/video.jpg" alt="Video" />
                <svg class="icon icon--stroke icon--xl">
                    <use xlink:href="#icon-chevron"></use>
                </svg>
            </div>
        </div>

        <h1>UN PRODUIT GASTRONOMIQUE UNIQUE LOCAL RESPONSABLE</h1>
        <div class="grid" data-component="Scrolly">
            <img src="./assets/images/img_hero_1.jpg" alt="" class="gros" data-scrolly="fromRotate" />
            <img src="./assets/images/img_hero_2.jpg" alt="" class="moyen" data-scrolly="fromRight" />
            <img src="./assets/images/img_hero_3.jpg" alt="" data-scrolly="fromRotate" />
            <img src="./assets/images/img_hero_4.jpg" alt="" data-scrolly="fromRight" />
            <img src="./assets/images/img_hero_5.jpg" alt="" data-scrolly="fromRotate" />
            <img src="./assets/images/img_hero_6.jpg" alt="" data-scrolly="fromRight" />
        </div>
    </div>
</section>
<section class="soutenir">
    <div class="wrapper">
        <h2>Soutenir une campagne qui vous touchent</h2>
        <h3>Soutenez un évènement qui vous touche à coeur</h3>
        <div class="leucan">
            <div class="leucan_haut">
                <img src="./assets/images/image_leucan.jpg" alt="" />
                <div class="leucan_content">
                    <img src="./assets/images/leucan_logo.jpg" alt="" />
                    <h3>Ont amassé plus de</h3>
                    <h3 class="doree">3000$</h3>
                </div>
            </div>
            <h3>grâce à vous!</h3>
            <a href="#" class="button">Soutenir une campagne</a>
        </div>
        <div class="grid">
            <div class="cardAss">
                <a href="#">
                    <h4>AMEASS</h4>
                    <img src="./assets/images/AMEASS.jpg" alt="" />
                    <svg class="icon">
                        <use xlink:href="#icon-pot"></use>
                    </svg>
                </a>
            </div>
            <div class="cardAss">
                <a href="#">
                    <h4>Académie Performance Isatis</h4>
                    <img src="./assets/images/API.png" alt="" />
                    <svg class="icon">
                        <use xlink:href="#icon-pot"></use>
                    </svg>
                </a>
            </div>
            <div class="cardAss">
                <a href="#">
                    <h4>Association PREP UQAR</h4>
                    <img src="./assets/images/APREP.jpg" alt="" />
                    <svg class="icon">
                        <use xlink:href="#icon-pot"></use>
                    </svg>
                </a>
            </div>
            <div class="cardAss">
                <a href="#">
                    <h4>Boutique Philanthropique</h4>
                    <img src="./assets/images/BP.jpg" alt="" />
                    <svg class="icon">
                        <use xlink:href="#icon-pot"></use>
                    </svg>
                </a>
            </div>
            <div class="cardAss">
                <a href="#">
                    <h4>ESCDM</h4>
                    <img src="./assets/images/ESCDM.jpg" alt="" />
                    <svg class="icon">
                        <use xlink:href="#icon-pot"></use>
                    </svg>
                </a>
            </div>
            <div class="cardAss">
                <a href="#">
                    <h4>École Christ-Roi</h4>
                    <img src="./assets/images/ECR.jpg" alt="" />
                    <svg class="icon">
                        <use xlink:href="#icon-pot"></use>
                    </svg>
                </a>
            </div>
            <div class="cardAss">
                <a href="#">
                    <h4>Escadron 710</h4>
                    <img src="./assets/images/escadron710.png" alt="" />
                    <svg class="icon">
                        <use xlink:href="#icon-pot"></use>
                    </svg>
                </a>
            </div>
            <div class="cardAss">
                <a href="#">
                    <h4>Les Flammes du Nord</h4>
                    <img src="./assets/images/LFDN.jpg" alt="" />
                    <svg class="icon">
                        <use xlink:href="#icon-pot"></use>
                    </svg>
                </a>
            </div>
            <div class="cardAss">
                <a href="#">
                    <h4>Garderie La Petite Etoile</h4>
                    <img src="./assets/images/GLPE.jpg" alt="" />
                    <svg class="icon">
                        <use xlink:href="#icon-pot"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="creerCampagne">
    <div class="wrapper">
        <h2>Créer votre campagne</h2>
        <div class="video" data-component="Video" data-video-id="jxCJgTMTUhs" data-videohide="true">
            <div class="video__media js-video">
                <img class="js-poster" src="./assets/images/video.jpg" alt="Video" />
                <svg class="icon icon--stroke icon--xl">
                    <use xlink:href="#icon-chevron"></use>
                </svg>
            </div>
        </div>

        <h3>Créez votre campagne facilement pour vous aidera monétisé votre projet</h3>

        <!--<div class="swiper" data-component="Carousel">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="cardCarrousel">
                        <img src="./assets/images/AMEASS.jpg" alt="" />
                        <h5>6000$ sur 8000$</h5>
                        <span class="cardVert"></span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cardCarrousel">
                        <img src="./assets/images/API.png" alt="" />
                        <h5>3000$ sur 4000$</h5>
                        <span class="cardVert"></span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cardCarrousel">
                        <img src="./assets/images/APREP.jpg" alt="" />
                        <h5>3500$ sur 6000$</h5>
                        <span class="cardVert"></span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cardCarrousel">
                        <img src="./assets/images/BP.jpg" alt="" />
                        <h5>4500$ sur 5000$</h5>
                        <span class="cardVert"></span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cardCarrousel">
                        <img src="./assets/images/ESCDM.jpg" alt="" />
                        <h5>7300$ sur 7500$</h5>
                        <span class="cardVert"></span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cardCarrousel">
                        <img src="./assets/images/ECR.jpg" alt="" />
                        <h5>6900$ sur 8700$</h5>
                        <span class="cardVert"></span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cardCarrousel">
                        <img src="./assets/images/escadron710.png" alt="" />
                        <h5>1145$ sur 3500$</h5>
                        <span class="cardVert"></span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cardCarrousel">
                        <img src="./assets/images/LFDN.jpg" alt="" />
                        <h5>2639$ sur 4400$</h5>
                        <span class="cardVert"></span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cardCarrousel">
                        <img src="./assets/images/GLPE.jpg" alt="" />
                        <h5>2100$ sur 2400$</h5>
                        <span class="cardVert"></span>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>-->

        <a href="#" class="button">Créer une campagne</a>
    </div>
</section>
<section class="nosProduits">
    <div class="wrapper">
        <h2>Nos produits</h2>
        <div class="grid" data-component="Scrolly">
            <div class="cardProduits" data-scrolly="fromBot">
                <img src="./assets/images/muffin_pomme_raisin.jpg" alt="" />
                <div class="cardProduitContent" data-scrolly="fromBot">
                    <h6>Muffins pomme raisin</h6>
                    <p>
                        Votée « la plus susceptible d’être cuisinée hebdomadairement » par notre équipe. Vous
                        succomberez ...
                    </p>
                    <div class="prixButton">
                        <p>8,99$</p>
                        <bouton href="#" class="button">Ajouter au panier</bouton>
                    </div>
                </div>
            </div>
            <div class="cardProduits" data-scrolly="fromBot">
                <img src="./assets/images/bouchees_energie.jpg" alt="" />
                <div class="cardProduitContent" data-scrolly="fromBot">
                    <h6>Bouchées d'énergie</h6>
                    <p>
                        Manque de temps ? Nous aussi ! Rapide et facile à cuisiner, les bouchées d’énergie sont des
                        collatio...
                    </p>
                    <div class="prixButton">
                        <p>9,99$</p>
                        <a href="#" class="button">Ajouter au panier</a>
                    </div>
                </div>
            </div>
            <div class="cardProduits" data-scrolly="fromBot">
                <img src="./assets/images/crepes_aux_pommes.jpg" alt="" />
                <div class="cardProduitContent" data-scrolly="fromBot">
                    <h6>Crêpes aux pommes</h6>
                    <p>
                        Ce déjeuner ou cette collation saine plairont à tous. Roulez-les, empilez-les, trempez-les dans
                        la c...
                    </p>
                    <div class="prixButton">
                        <p>6,99$</p>
                        <a href="#" class="button">Ajouter au panier</a>
                    </div>
                </div>
            </div>
            <div class="cardProduits" data-scrolly="fromBot">
                <img src="./assets/images/brownies_classiques.jpg" alt="" />
                <div class="cardProduitContent" data-scrolly="fromBot">
                    <h6>Brownies classiques</h6>
                    <p>
                        Une belle farine à pâtisserie, avec du cacao foncé, de la cassonade tassée, un peu de sucre pour
                        la ...
                    </p>
                    <div class="prixButton">
                        <p>7,99$</p>
                        <a href="#" class="button">Ajouter au panier</a>
                    </div>
                </div>
            </div>
            <div class="cardProduits" data-scrolly="fromBot">
                <img src="./assets/images/avoine_raisin.jpg" alt="" />
                <div class="cardProduitContent" data-scrolly="fromBot">
                    <h6>Pain déjeuner Avoine Raisin</h6>
                    <p>Préparé en moins de 5 minutes, ce pain déjeuner sain et savoureux embaumera la cuisi...</p>
                    <div class="prixButton">
                        <p>5,99$</p>
                        <a href="#" class="button">Ajouter au panier</a>
                    </div>
                </div>
            </div>
            <div class="cardProduits" data-scrolly="fromBot">
                <img src="./assets/images/biscuit_choco_noir.jpg" alt="" />
                <div class="cardProduitContent" data-scrolly="fromBot">
                    <h6>Biscuits choco noir canneberge</h6>
                    <p>
                        Une collation saine, faite de farine et de cassonade dorée, mais surtout d’avoine et de
                        canneberges...
                    </p>
                    <div class="prixButton">
                        <p>8,99$</p>
                        <a href="#" class="button">Ajouter au panier</a>
                    </div>
                </div>
            </div>
            <div class="cardProduits" data-scrolly="fromBot">
                <img src="./assets/images/biscuit_avoine_raisin.jpg" alt="" />
                <div class="cardProduitContent" data-scrolly="fromBot">
                    <h6>Biscuits avoine raisin</h6>
                    <p>C’est le sucre aromatisé qui fait la différence. On le mélange à la farine, l’avoine...</p>
                    <div class="prixButton">
                        <p>8,99$</p>
                        <a href="#" class="button">Ajouter au panier</a>
                    </div>
                </div>
            </div>
            <div class="cardProduits" data-scrolly="fromBot">
                <img src="./assets/images/biscuit_choco_noix_de_coco.jpg" alt="" />
                <div class="cardProduitContent" data-scrolly="fromBot">
                    <h6>Biscuits chocolat noir et noix de coco</h6>
                    <p>
                        La farine douce et la cassonade créent le moelleux, mais c’est dans l’avoine et la noix de coco
                        qu’o...
                    </p>
                    <div class="prixButton">
                        <p>8,99$</p>
                        <a href="#" class="button">Ajouter au panier</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="button">En voir plus</a>
    </div>
</section>

{% include '_partials/_footer.html' %}
